- cache_unless((current_user.try(:roles).present?), @page) do
  .page-content.col-lg-10.col-lg-offset-1
    - if can? :edit, @page
      .quick-edit
        .btn-group
          = button_tag t('helpers.quick_edit'), class: "edit-content btn btn-info", data: {page: @page.permalink}
          %button.btn.btn-info.dropdown-toggle{"data-toggle" => "dropdown"}
            %span.caret
          %ul.dropdown-menu
            = navbar_item t('.edit_page'), edit_page_path(@page)
    .panel-heading
      %h1= @page.title
    %hr/
    .editable-content
      = @page.content.html_safe
