- breadcrumb :page, @page

- if can? :edit, @page
  .panel.panel-primary
    .panel-heading
      %h3
        Tools
    .panel-body
      = link_to "Edit page", edit_page_path(@page), class: "btn btn-primary"
.page-content
  .panel.panel-default
    .panel-heading
      %h1
        = @page.title
    .panel-body
    = @page.content.html_safe
