- if can? :edit, @page
  - content_for :navbar_tools do
    = link_to "Edit page", edit_page_path(@page), class: "btn btn-xs btn-default"
    = button_tag "Quick-Edit", id: "edit-content", class: "btn btn-xs btn-default", data: {page: @page.permalink}

- breadcrumb :page, @page

.page-content
  .panel.panel-default
    .panel-heading
      %h1= @page.title
    .panel-body
      .editable-content
        = @page.content.html_safe
