- content_for :navbar_tools do
  = button_tag "Quick-Edit", id: "edit-content", class: "btn btn-xs btn-default"

%link{:href => "http://fonts.googleapis.com/css?family=Allura", :rel => "stylesheet", :type => "text/css"}/
#navbar-wrapper
  = render 'layouts/navbar'
.cover-wrapper
  .cover-text
    %p
      Vittskövle
.event-wrapper
  .container
    .row
      .col-lg-4
        =# editable_field :first_thing
        %h2
          Bymöte med trams
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore dignissimos at omnis ipsum molestiae, sequi aliquid earum. Repellat earum accusamus, quibusdam consequuntur esse ab, modi, laboriosam officia sit nemo placeat.
      .col-lg-4
        =# editable_field :second_thing
        %h2
          Bymöte med trams
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore dignissimos at omnis ipsum molestiae, sequi aliquid earum. Repellat earum accusamus, quibusdam consequuntur esse ab, modi, laboriosam officia sit nemo placeat.
      .col-lg-4
        =# editable_field :third_thing
        %h2
          Bymöte med trams
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore dignissimos at omnis ipsum molestiae, sequi aliquid earum. Repellat earum accusamus, quibusdam consequuntur esse ab, modi, laboriosam officia sit nemo placeat.
.info-wrapper
  .container-fluid
    .row
      .col-md-6.no-padding
        .img-slott
      .col-md-6.no-padding
        .info-text
          = editable_field :info_text
