.container.top-container
  .panel.panel-primary
    .greetings-text
      %h1 Hejsan :)
      %p Här hade det kunnat stå en massa häftiga saker, men det gör det inte!
      / Snart kanske det gör det!
.container
  .panel.panel-default
    .row
      .col-lg-4
        Vivamus cursus, ex a volutpat imperdiet, diam neque fringilla ante, vel bibendum dolor libero ut orci. Nunc egestas maximus felis, vel molestie ante sodales at. Donec vestibulum, urna a efficitur condimentum, magna lacus finibus justo, id facilisis diam velit in lectus. Fusce dolor dolor, ullamcorper ut leo in, facilisis consectetur nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. In dictum massa nec finibus laoreet. Integer eu diam vitae arcu egestas tincidunt nec quis orci. Mauris arcu est, ornare nec ipsum eget, aliquam placerat risus. Quisque tincidunt pulvinar vulputate. Pellentesque id ipsum odio.

      .col-lg-4
        Vivamus cursus, ex a volutpat imperdiet, diam neque fringilla ante, vel bibendum dolor libero ut orci. Nunc egestas maximus felis, vel molestie ante sodales at. Donec vestibulum, urna a efficitur condimentum, magna lacus finibus justo, id facilisis diam velit in lectus. Fusce dolor dolor, ullamcorper ut leo in, facilisis consectetur nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. In dictum massa nec finibus laoreet. Integer eu diam vitae arcu egestas tincidunt nec quis orci. Mauris arcu est, ornare nec ipsum eget, aliquam placerat risus. Quisque tincidunt pulvinar vulputate. Pellentesque id ipsum odio.

      .col-lg-4
        Vivamus cursus, ex a volutpat imperdiet, diam neque fringilla ante, vel bibendum dolor libero ut orci. Nunc egestas maximus felis, vel molestie ante sodales at. Donec vestibulum, urna a efficitur condimentum, magna lacus finibus justo, id facilisis diam velit in lectus. Fusce dolor dolor, ullamcorper ut leo in, facilisis consectetur nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. In dictum massa nec finibus laoreet. Integer eu diam vitae arcu egestas tincidunt nec quis orci. Mauris arcu est, ornare nec ipsum eget, aliquam placerat risus. Quisque tincidunt pulvinar vulputate. Pellentesque id ipsum odio.



