- content_for :navbar_tools do
  = button_tag "Quick-Edit", id: "edit-content", class: "btn btn-xs btn-default"

.container.top-container
  .panel.panel-primary
    .greetings-text
      %h1 Hejsan :)
      %p Här hade det kunnat stå en massa häftiga saker, men det gör det inte!
      / Snart kanske det gör det!
.container
  .panel.panel-default
    .row
      .col-lg-4
        = editable_field :first_thing

      .col-lg-4
        = editable_field :second_thing

      .col-lg-4
        = editable_field :third_thing
