.col-lg-4
  .event-text
    %h2
      = post.title
      %br/
      %small.event-date
        = l post.date, format: :date_slash_month if post.date
        - unless post.date
          %br/
    %hr/
    %p
      = truncate(post.content.html_safe, length: 240, separator: ' ')
    .pull-right
      = link_to t('.read_more'), post
