- content_for :navbar_tools do
  = link_to "Create new post", new_post_path, class: "btn btn-xs btn-primary"

- breadcrumb :posts

- @posts.each do |post|
  .panel.panel-default
    .panel-heading
      %h3
        = post.title
    .panel-body
      = post.content
      .pull-right
        = link_to "Read More", post
