- if can? :create, Post
  - content_for :navbar_tools do
    = link_to t('.create_post'), new_post_path, class: "btn btn-xs btn-primary"

  - breadcrumb :posts

- @posts.each do |post|
  .panel.panel-default
    .panel-heading
      %h3
        = post.title
    .panel-body
      = raw post.content
      .pull-right
        = link_to t('.read_more'), post
