- if can? :edit, @post
  - content_for :navbar_tools do
    = link_to "Edit post", edit_post_path(@post), class: "btn btn-xs btn-default"


- breadcrumb :post, @post

.page-content
  .panel.panel-default
    .panel-heading
      %h1= @post.title
    .panel-body
      .editable-content
        = @post.content.html_safe
