@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "summernote";
@import "summernote-bs3";
@import "codemirror";
@import "codemirror/themes/solarized";
@import "font-awesome";

//Fix for routing error
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('/assets/glyphicons-halflings-regular.eot');
    src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.top-container {
  margin-top: 50px;
}

.greetings {
  background-color: #18D0BF;
}

.greetings-text {
  color: #FFF;
  margin-top: 120px;
  text-align: center;
  h1 {
    font-size: 120px;
  }
  p {
    font-size: 20px;
  }
}
