.greetings-box {
  background-color: #18D0BF;
}

.greetings-text {
  color: #FFF;
  margin-top: 120px;
  margin-bottom: 120px;
  text-align: center;
  h1 {
    font-size: 120px;
  }
  p {
    font-size: 20px;
  }
}

.skills-box {
  background: #ADE;
  border-left: 1px solid #efefef;
  box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.04);
}

.skills {
  height: 484px;
}
