#navbar-wrapper {
  z-index: 1;
  width: 100%;
  height: 50px;
  position: fixed;

  .navbar { border: none; }

  @media (min-width: $grid-float-breakpoint) {
    .default-nav {
      transition: background 0.4s ease-in;
      background: rgba(0, 0, 0, 0);
    }

    &.affix-top .default-nav {
      background: rgba(0, 0, 0, 0);
    }

    &.affix-top .navbar-default .navbar-nav>.open>a,
    &.affix-top .navbar-default .navbar-nav>.open>a:hover,
    &.affix-top .navbar-default .navbar-nav>.open>a:focus {
      background-color: rgba(100, 100, 100, 0.30);
    }

    &.affix .default-nav {
      background-color: $bright-green;
    }
  }
}

.cover-wrapper {
  width: 100%;
  height: 600px;

  background-image: image-url("alle.jpg");
  background-size: cover;
  background-position: center;
}

@import url(//fonts.googleapis.com/css?family=Allura);
.cover-text {
  padding-top: 210px;
  font-family: 'Allura', cursive;
  font-size: 130px;
  @media (max-height: $screen-sm-max) {
    font-size: 100px;
  }
  color: white;
  text-align: center;
}

.event-wrapper {
  padding: 20px 0 80px 0;
  min-height: 333px;
}

.event-text {
  padding: 0 20px 0 20px;
}

.event-date {
  font-size: 25px;
}

.info-wrapper {
  background: $brand-primary;
  h1, h2, h3, h4, h5, h6, p, a { color: white; }
  p { font-size: 1.2em; }
}

.img-slott {
  background: image-url('slott.jpg') no-repeat center center;
  background-size: cover;
  min-height: 425px;
}

.info-text {
  margin-right: auto;
  margin-left: auto;
  padding: 30px 15px 50px 15px;
  overflow: hidden;
}

@media (min-width: $grid-float-breakpoint) {
  .info-text {
    padding: 9% 80px 0 80px;
    height: 425px;
  }
}

.sections-wrapper {
  padding: 120px 0 30px 0;
  img { margin-bottom: 50px; }
}

.standing-images {
  img {
    margin: 0 auto;
  }
  @media (max-width: $grid-float-breakpoint) {
    &> div {
      max-width: 350px;
      margin: auto;
    }
  }
}

.image-text {
  position: relative;
  top:  -200px;
  width: 100%;

  text-align: center;
  font-size: 35px;
  .image-title {
    width: 175px;
    margin: auto;
  }

  .image-caption {
    font-style: italic;
    font-size: 30px;
    font-weight: lighter;
    width: 75%;
    margin: auto;
    border-top: 1px solid rgb(166, 160, 160);
  }
}

.footer-wrapper {
  padding: 60px 0 50px 0;
  background: $bright-green;

  h1, h2, h3, h4, h5, h6, p, a { color: white; }
  p { font-size: 1.2em; }

}
