.greetings-box {
  background-color: #18D0BF;
}

.greetings-text {
  //color: #FFF;
  margin-top: 120px;
  margin-bottom: 120px;
  text-align: center;
  h1 {
    font-size: 120px;
  }
  p {
    font-size: 20px;
  }
}
