.note-editor {
  border: none;
}

.note-toolbar {
  background-color: #FFF !important;
  border-bottom: none !important;
  padding-left: 0;
}

.note-editable {
  border: 1px solid #cccccc;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  transition: border-color ease-in-out 0.15s;
  &:focus {
    border-color: #66afe9;
    outline: 0;
  }
}

.note-resizebar {
  border-top: none !important;
}
