/* Colors */


/* Scaffolding */
$body-bg: #F0F0F0;
$text-color: #555;


/* Typography */
$font-family-sans-serif: 'Open Sans', sans-serif;


$border-radius-base: 2px;

$navbar-default-bg: #187BD0;
$navbar-default-link-color: #FFF;
$navbar-default-border: #187BD0;

//$panel-body-padding: 6px;
//$panel-heading-padding: 5px 15px;
