.col-sm-3.col-xs-6
  .photo
    .head
      %h4= image.title.present? ? image.title : t('.unknown_title')
    .img
      = image_tag image.file.thumb('300x300#').url
      .overlay
        .links
          = link_to i(:edit), edit_image_path(image)
          = link_to i(:trash), image_path(image), method: :delete, data: {confirm: t('.delete_image')}

