.row
  .col-md-6.col-md-offset-3
    .heading
      %h2
        = t('.images')
        - if can? :create, Image
          .pull-right
            = link_to new_image_path do
              %i.glyphicon.glyphicon-plus
      %hr/
.row
  = render @images
