- breadcrumb :images

.row
  .col-sm-12
    .panel.panel-primary
      .panel-heading
        %h3
          Tools
      .panel-body
        = link_to "Upload image", new_image_path, class: "btn btn-primary"

.row
  = render @images
