- breadcrumb :images

.row
  .col-sm-12
    .panel.panel-default
      .panel-heading
        Tools
      .panel-body
        = link_to "Upload image", new_image_path, class: "btn btn-primary"

- @images.each do |image|
  = image_tag image.file.thumb('200x200').url
